<!DOCTYPE html>
<html>
<head>
    <title>修改用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            width: 98%;
            height: 100%;
            margin: 0;
            overflow: hidden;
            background-color: #FFFFFF;
            font-family: "Microsoft YaHei", sans-serif;
        }
        .container{
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="form-group">
        <label>账号</label>
        <input type="text" class="form-control" id="username" placeholder="账号">
    </div>
    <div class="form-group">
        <label>密码</label>
        <input type="text" class="form-control" id="password" placeholder="密码">
    </div>
    <div class="form-group">
        <label>关联城市</label>
        <select  class="form-control" id="country_id">

        </select>
    </div>
    <div class="form-group">
        <label>联系人名字</label>
        <input type="text" class="form-control" id="truename" placeholder="名字">
    </div>
    <div class="form-group">
        <label>电话</label>
        <input type="text" class="form-control" id="phone" placeholder="电话号码">
    </div>
    <button id="sub" class="btn btn-default">提交</button>
</div>

</body>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/layer/layer.js"></script>
</html>

<script type="text/javascript">
    //是否获取token令牌，如果没有获取，就要返回登陆界面
    if(!window.base.getLocalStorage('adminToken')){
        window.location.href = '/';
    }
    id={$id};
    //alert(id);
    //初始化界面
    getCountryAll();
    getUserOne(id);

    //获得所有城市
    function getCountryAll(){
        var params={
            url:'/country/getCountryAll',
            data:{},
            type:'get',
            tokenFlag:true,
            sCallback:function(res) {
                if (res.status){
                    var data = res.data;
                    if (data){
                        var len = data.length,str = '', item;
                        if(len>0) {
                            for (var i = 0; i < len; i++) {
                                item = data[i];
                                str += '<option value="' + item.id + '">' + item.name + '</option>';
                            }
                        }
                        $('#country_id').html(str);
                    }
                }
            },
            eCallback:function(res){
                alert('获得失败');
            }
        };
        window.base.getAdminData(params);
    }
    //获得一个用户的信息
    function getUserOne(id){
        var params = {
            url:'/user/getUserOne',
            data:{'id':id},
            tokenFlag:true,
            sCallback:function(res){
                if (res.status){
                    var data = res.data;
                    $('#username').val(data.username);
                    $('#password').val(data.password);
                    $('#country_id').val(data.country_id);
                    $('#truename').val(data.truename);
                    $('#phone').val(data.phone);
                }
            },
            eCallback:function(res){
                alert("获得失败");
            }
        }
        window.base.getAdminData(params);
    }
    $("#sub").click(function () {
        var username = $("#username").val();
        var password = $("#password").val();
        var country_id = $('#country_id').val();
        var truename = $('#truename').val();
        var phone = $('#phone').val();
        var params={
            url:'/user/userUpdate',
            data:{'id':id,'username':username,'password':password,'country_id':country_id,'truename':truename,'phone':phone},
            type:'post',
            tokenFlag:true,
            sCallback:function(res) {
                if (res){
                    layer.confirm('修改成功',{
                        btn : [ '确定']//按钮
                    }, function(index) {
                        //location.reload();
                        location.href = '/userAll';
                    });

                }
            },
            eCallback:function(res){
                alert('获得失败');
            }
        };
        window.base.getAdminData(params);
    });
</script>